html, body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #070707;
    background-color: #dadada;
    scroll-behavior: smooth;
}

#top {
    width: 100%;
    height: 70px;
}

a {
    color: #1a1a1a;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    
}

h1 {
    font-size: 2rem;
    margin: 0 auto 3.2rem auto;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    z-index: 0;
    position: relative;
    display: inline-block;
}

h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: -15px;
    left: 50%;
    background-color: #070707;
    transform: scaleY(1) translate(-50%, -50%) skew(-15deg, 2deg);
    z-index: -1;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h4 {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    line-height: 1.5;
}

h5 {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
    line-height: 1.5;
}

p {
    margin-bottom: 0.75rem;
}

main, footer {
    max-width: 1600px;
    margin: auto;
}

main {
    background-color: #f1f1f1;
}

.container {
    max-width: 1200px;
    margin: auto;
}


/* ----- HEADER ----- */

header {
    width: 100%;
    height: 70px;
    background-color: #709D30;
    position: fixed;
    top: 0;
    z-index: 999;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.logo {
    height: 40px;
}

header a {
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

@media (hover: hover) {
    header nav a:hover {
        color: #b0d67b;
    }
}

/* ----- MENU ----- */
.menu-icon {
    cursor: pointer;
}

.header-open {
    height: 320px;
}

header .container.flex {
    flex-direction: column;
}

.menu-links {
    padding: 5px 20px 40px 20px;
}

.compact-menu {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

header nav ul li {
    margin: 0.5rem auto;
}

/* ----- ALL SECTIONS----- */

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.reversed-row {
    flex-direction: row-reverse;
}

.heading-align {
    margin: auto;
    width: fit-content;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.description {
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
}

.description span {
    font-weight: 700;
}

.image {
    width: 100%;
    padding-top: 75%;
    overflow: hidden;
    position: relative;
}

.image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    object-fit: cover;
    transform: translateX(-50%);
}

.services,
.about,
.projects,
.contact,
footer {
    padding: 90px 20px;
}

/* ----- HERO ----- */

.hero, 
.hero-2 {
    width: 100%;
    height: calc(100vh - 70px);
    min-height: 400px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: portrait) {
    .hero, 
    .hero-2 {
        background-size: auto 100vh;
    }
}

.hero {
    background-image: url("../assets/hero-cover.jpg");
}

.hero-2 {
    background-image: url("../assets/hero-cover-2.jpg");
}

.hero-logo {
    min-width: 150px;
    width: 15%;
    max-width: 200px;
    height: auto;
}

/* ----- SERVICES ----- */

.services {
    text-align: center;
}

.services h2 {
    width: 100%;
}

.services figure {
    max-width: 260px;
    margin: 0 auto 80px auto;
}

.structural-services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 40px;
}

/* ----- ABOUT ----- */

.about {
    background-color: #709D30;
}

.about .flex {
    align-items: flex-start;
}

/* ----- PROJECTS ----- */

.projects .container,
.projects h1 {
    margin-bottom: 120px;
}

.project-details {
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
}

/* ----- CONTACT ----- */

.contact {
    background-color: #709D30;
}

.contact .flex {
    align-items: flex-start;
}


/* ----- FOOTER ----- */

footer {
    text-align: center;
    background-color: #263238;
    color: #709D30;
}

footer h5 {
    margin-bottom: 0;
}

/* ----- RESPONSIVE ----- */

@media only screen and (min-width: 760px) {
    .services,
    .about,
    .projects {
        padding: 120px 40px;
    }

    .services figure {
        max-width: 240px;
    }
}

@media only screen and (min-width: 1000px) {

    .services figure {
        max-width: 220px;
    }

    .flex {
        justify-content: space-between;
    }

    .description {
        width: 36%;
        margin-bottom: 0;
    }

    .image {
        width: 60%;
        padding-top: 45%;
    }

    .about .image,
    .contact .image {
        width: 48%;
        padding-top: 64%;
    }

    .about .description,
    .contact .description {
        width: 48%;
    }

}

/* ----- MENU RESPONSIVE ----- */

@media only screen and (min-width: 640px) {
    header {
        flex-direction: row;
    }
    .menu-icon {
        display: none;
    }

    header .container.flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .compact-menu {
        width: auto;
    }

    .menu-links {
        padding: 5px 20px;
    }

    header nav ul {
        flex-direction: row;
    }

    header nav ul li {
        margin: 0 auto 0 20px;
    }

    
}